#miniyoutube {
  width: 310px;
  height: 175px;
  position: fixed;
  left: 5px;
  top: 55px;
  z-index: 1000;
  background-color: black;
  box-shadow: 0 0 10px #000000;
}

#mnyt-close-button {
  position: absolute;
  top: 3px;
  right:3px;
  border-radius: 50%;
  display: none;
}

#mnyt-progress-time {
  background: rgba(23,35,34,.5);
  opacity: 0.5;
  border-radius: 0.5em;
  color: #ffffff;
  font-weight: bolder;
  cursor: text;
  padding: 3px 4px 1px 4px;

  bottom: 7px;
  left: 50%;
  margin-left: -32px;
  position: absolute;
  z-index: 1001;
  display: none;
}

#mnyt-progress-time:hover {
  background-color: #cc181e;
  opacity: 1;
}

.mnyt-controls {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.mnyt-play-button {
  margin-left: auto;
  margin-right: auto;

  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
  background: rgba(23,35,34,.75);
  opacity: 0.5;
  border: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;

  transition: background-color 40ms;
  text-decoration: none;
  color:#ffffff;
  display: none;
}

.mnyt-play-button:hover {
  background-color: #cc181e;
  opacity: 1;
}

.mnyt-play-button-play {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 15px solid white;
  margin-left: 19px;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.mnyt-play-button-pause {
  display: none;
}

.mnyt-play-button-pause:before {
    width: 7px;
    height: 20px;
    background-color: #FFFFFF;
    position: absolute;
    content: "";
    top: 15px;
    left: 15px;
}

.mnyt-play-button-pause:after {
    width: 7px;
    height: 20px;
    background-color: #FFFFFF;
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
}

.alert-close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  text-decoration: none;
}

.alert-close:hover {
  text-decoration: none;
}

.alert {
  position: fixed;
  width: 90%;
  top: 52px;
  z-index: 1000;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  margin-left: 3.25%;
  text-align: center;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.mnyt-progress-wrap {
  background: #cc181e;
  overflow: hidden;
  position: absolute;
  bottom: 5px;
}

.mnyt-progress-bar {
  background: #ddd;
  position: absolute;
  left: 0;
  bottom: 0;
}

.mnyt-progress {
  width: 100%;
  height: 1px;
  cursor: pointer;
}

.mnyt-progress-area {
  height: 15px;
  position: absolute;
  bottom: -5px;
  width: 100%;
  z-index: 1002;
  cursor: pointer;
}

.mnyt-progress-pointer {
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #cc181e;
  display: none;
  z-index: 1002;
}

.mnyt-video {
  top: 0px !important;
  left: 0px !important;
}

.draggable {
  position: relative;
}

.resizer {
  width: 50px;
  height: 50px;
  position:absolute;
  z-index: 1001;
}

#mnyt-br {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.resize-icon {
  right: -3px;
  bottom: -3px;
  position:absolute;
  z-index: 1001;
  cursor: se-resize;
}

.mnyt-control-icons {
  top: 0;
  left: 0;
  position: absolute;
  padding: 3px;
  z-index: 1001;
  display: none;
}

.mnyt-size-button {
  display: block;
  margin-bottom: 3px;

  width: 30px;
  height: 30px;
  background: rgba(23,35,34,.75);
  opacity: 0.5;
  border-radius: 0.5em;
  border: 0;
  cursor: pointer;

  font-size: 1em;
  text-align: center;
  font-family: 'Helvetica Neue',Helvetica,Arial;
  transition: background-color 40ms;
  font-weight: bold;
  text-decoration: none;
  color:#ffffff;
}

.mnyt-size-button img {
  vertical-align: middle;
}

.mnyt-size-button:hover {
  background-color: #cc181e;
  opacity: 1;
}

.mnyt-pin-label {
  position: absolute;
  top: 3px;
  left: 40px;
  width: 150px;
  height: 30px;
  background: rgba(23,35,34,.75);
  border-radius: 0.5em;
  border: 0;
  cursor: pointer;

  font-size: 1em;
  text-align: center;
  font-family: 'Helvetica Neue',Helvetica,Arial;
  font-weight: bold;
  text-decoration: none;
  color:#ffffff;
  line-height: 30px;
  transition: opacity 150ms ease-out,transform 150ms ease-out;
  display: none;
}

.mnyt-pin-label::before {
  position: absolute;
  left: -0.5em;
  top: 50%;
  margin-top: -.5em;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: .5em solid rgba(23,35,34,.75);
  content: '';
}