#miniyoutube {
  width: 310px;
  height: 175px;
  position: fixed;
  left: 5px;
  top: 55px;
  z-index: 1000;
  background-color: black;
}

.mnyt-video {
  top: 0px !important;
  left: 0px !important;
}

.draggable {
  position: relative;
}

.resizer {
  width: 50px;
  height: 50px;
  position:absolute;
  z-index: 1001;
}

#mnyt-br {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.resize-icon {
  right: -3px;
  bottom: -3px;
  position:absolute;
  z-index: 1001;
  cursor: se-resize;
}